:root {
	--text: #050604;
	--background: #f5f6f3;
	--primary: #829c6d;
	--secondary: #acaac5;
	--accent: #b292b5;
}
#not-found {
	position: absolute;
	top: 0;
	left: 0;
	bottom: -5px;
	right: 0;
	background-color: var(--background);
}
#not-found img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
}
