.profile-container {
	justify-content: center;
	align-items: center;
	padding: 0;
	color: var(--text);
	font-family: Omori;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--background);
	box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 1);
	height: 100%;
	padding-bottom: 25px;
	width: 90%;
	margin: 112px auto;
	z-index: 1;
	backdrop-filter: blur(5px);
}
.profile-container .profile-info > * {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}
.profile-container .profile-info h1 {
	color: var(--background);
	font-size: 8rem;
	/* add black outline */
	text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
		3px 3px 0 #000;
	text-align: center;
	margin: -20px auto;
}
.profile-container .profile-info h2 {
	color: var(--text);
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
}
.profile-info .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.profile-info .buttons button {
	display: inline-block;
	margin: 0 10px;
	width: 150px;
	height: fit-content;
	padding: 10px;
	font-size: 1.5em;
	font-family: Omori;
	background-color: var(--secondary);
	border: 3px solid black;
	border-radius: 15px;
	transition: all 0.15s ease-in-out;
}
.profile-info .buttons button:hover {
    cursor: pointer;
    transform: scale(1.1);
	background-color: var(--accent);
}
.profile-container > .pfp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    margin: 0;
    width: 200px;
    height: 200px;
}
#your-rocks {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 60px;
	font-family: Omori;
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	color: var(--text);
}
.rock-card-container-profile {
	position: absolute;
	top: 50%;
	transform: translateY(-45%);
	right: 20px;
	width: 20%;
	height: 70%;
	/* add an outline */
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px;
	overflow-y: auto;
}
.rock-card-container-profile .rock-link .rock-card-container {
    list-style-type: none;
    width: 80%;
	height: 200px;
    margin: auto;
    /* margin-bottom: 70px; */
}
.rock-card-container-profile .rock-card img {
    width: 250px;
    height: 100px;
	margin-top: 40px;
}
.rock-card-container-profile .rock-card #name {
    font-size: 1.5em;
}
