.signin-container {
padding: 20px 20px 97px 20px;
}
.signin-container h1 {
    font-family: Omori;
    color: var(--background);
    font-size: 8rem;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    text-align: center;
    margin: -20px auto;
}
.signin-container .signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.signin-container .signin-form input {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    font-family: Omori;
    border: 3px solid black;
    border-radius: 15px;
}
.signin-container .signin-form button {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    font-family: Omori;
    background-color: var(--secondary);
    border: 3px solid black;
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
}
.signin-container .signin-form button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.signin-container .signin-form .error {
    color: red;
    font-size: 1.5em;
    font-family: Omori;
    margin: 10px;
}
.signin-container p {
    background-color: var(--background);
    font-family: Omori;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    /* center */
    margin: 0 auto;
}
.signin-container p a {
    color: var(--text);
}