@font-face {
	font-family: Omori;
	src: url("../../assets/fonts/OMORI_GAME2.ttf");
}

.user-card {
	display: block;
	margin: 10px;
	transition: all 0.15s ease-in-out;
}
.user-card-container {
	overflow: auto;
}
.user-card-container > .pfp {
	position: relative;
	left: 0;
	min-width: 90px;
	height: 100px;
	margin-right: 15px;
}

.user-card-container #username {
	font-family: Omori;
	font-size: 1.75em;
	position: relative;
	width: fit-content;
}

a {
	text-decoration: none;
	color: var(--text);
}
.user-card:hover {
	cursor: pointer;
	box-shadow: 0 0 1em 0 black;
	transform: scale(1.05);
}
