@font-face {
	font-family: Omori;
	src: url("../../assets/fonts/OMORI_GAME2.ttf");
}
.user-container {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	width: 80vw;
	margin-left: 10vw;
	margin-top: 5vw;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 0 10px 0 black;
}
.user-info {
	display: flex;
	width: max-content;
}
.user-info > .pfp {
	position: relative;
	top: 0;
	left: 0;
	margin-right: 30px;
}

.user-info #username {
	font-family: Omori;
	font-size: 2em;
	position: relative;
	width: fit-content;
}

.rock-list {
	display: flex;
}
.search-bar {
	display: flex;
	margin-top: 20px;
	height: 20px;
}
