@font-face {
	font-family: Omori;
	src: url("../../assets/fonts/OMORI_GAME2.ttf");
}

body {
	margin: 0;
}
.welcome-logo {
	position: relative;
	background-color: var(--background);
	box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 1);
	height: 650px;
	padding-bottom: 25px;
}
.background {
	min-height: 1080px;
	z-index: -1;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-family: Omori;
	color: #fff;
	/* add black outline */
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
		2px 2px 0 #000;
	text-align: center;
}
h2 {
	font-family: Omori;
	color: #000;
	text-align: center;
}

.welcome-logo .logo {
	position: absolute;
	width: 350px;
	height: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -46%);
}
