@font-face {
	font-family: Omori;
	src: url("../../assets/fonts/OMORI_GAME2.ttf");
}

.rocks-registry-container .rock-card {
	display: block;
	width: 19%;
	margin: 30px;
	transition: all 0.15s ease-in-out;
}
.rock-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
	margin: 0;
	transition: all 0.15s ease-in-out;
	border-radius: 6px;
	height: 375px;
	overflow: hidden;
}
.rock-card-container img {
	width: 100%;
	height: 275px;
	object-fit: cover;
}

.rock-card-container #name {
	font-family: Omori;
	font-size: 2em;
	z-index: 1;
	margin: auto;
	text-align: center;
	word-wrap: break-word;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: var(--text);
}
.rock-card-container:hover {
	cursor: pointer;
	box-shadow: 0 0 1em black;
	transform: scale(1.05);
}
.rock-card-container .image-container .svg-missing-image {
	width: 300px;
	/* height: 30vh; */
	height: 275px;
	/* padding: 0 0 20px 0; */
	object-fit: cover;
}

.image-container {
	position: relative;
}

.home {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #c3c5aa;
	padding: 10px 0px 10px 0px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.add-rock {
	font-family: Omori;
	font-size: 24em;
	position: relative;
	width: 100%;
	margin: 0 auto -0.15em auto;
}
